parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: easyscrum
    database_user: root
    database_password: null
    database_host_prod: dbins.local.iventiajobs.com
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 850219f8bb314766e666ebcc61d472b2d7336ae4
    database_path: null
    noreply_email: easyscrumnoreply@gmail.com
