{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
	Título de la página
{% endblock %}

{% block breadcrumb %}
  {% set crumbs = {'Título de la página':'#'} %}
  {{ setCrumbs(crumbs) }}
  {{ parent() }}
{% endblock %}

{% block content %}
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon">
				<i class="fa fa-th"></i>
			</span>
			<h5>Static table</h5>
		</div>
		<div class="widget-content nopadding">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Column name</th>
						<th>Column name</th>
						<th>Column name</th>
						<th>Column name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
				</tbody>
			</table>							
		</div>
	</div>


	<div class="widget-box">
		<div class="widget-title">
			<span class="icon with-checkbox">
				<input type="checkbox" id="title-checkbox" name="title-checkbox" />
			</span>
			<h5>Static table with checkboxes</h5>
		</div>
		<div class="widget-content nopadding">
			<table class="table table-bordered table-striped table-hover with-check">
				<thead>
					<tr>
						<th><i class="fa fa-resize-vertical"></i></th>
						<th>Column name</th>
						<th>Column name</th>
						<th>Column name</th>
						<th>Column name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" /></td>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>Row 1</td>
						<td>Row 2</td>
						<td>Row 3</td>
						<td>Row 4</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon">
				<i class="fa fa-align-justify"></i>
			</span>
			<h5>Text inputs</h5>
		</div>
		<div class="widget-content nopadding">
			<form action="#" method="get" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Normal text input</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type="text" class="form-control input-sm" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Password input</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type="password" class="form-control input-sm" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Input with placeholder</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type="text" class="form-control input-sm" placeholder="This is a placeholder..." />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Read-only input</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type="text" class="form-control input-sm" placeholder="You can only read this..." readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Disabled input</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type="text" class="form-control input-sm" placeholder="This input is disabled..." disabled />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Input with description</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<div class="row">
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" />
								<span class="help-block text-left">This is a description</span>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" />
								<span class="help-block text-center">This is a description in center</span>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" />
								<span class="help-block text-right">This is a description on right</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Input with tooltip</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type='text' title="Tooltip on input field" class="tip-bottom form-control input-sm" />
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Input with max chars</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<input type='text' maxlength="15" placeholder="Maximum 15 characters here..." class="form-control input-sm" />
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Input with icon</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<div class="row">
							<div class="col-md-6">
								<div class="input-icon icon-sm">
									<i class="fa fa-tint"></i>
									<input type='text' class="form-control input-sm" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-icon on-right icon-sm">
									<input type='text' class="form-control input-sm" />
									<i class="fa fa-laptop"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Input helps</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group input-group-sm">
									<span class="input-group-addon"><i class="fa fa-globe"></i></span>
									<input type='text' placeholder="On left..." class="form-control" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group input-group-sm">
									<input placeholder="There is the right one..." type='text' class="form-control" />
									<span class="input-group-addon"><i class="fa fa-fire"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Input helps too</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<div class="input-group input-group-sm">
							<span class="input-group-addon"><i class="fa fa-quote-left"></i></span>
							<input type='text' class="form-control input-sm" />
							<span class="input-group-addon"><i class="fa fa-quote-right"></i></span>
						</div>
					</div>											
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Input with button</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group input-group-sm">
									<span class="input-group-btn">
										<a href="#" class="btn btn-warning">Go!</a>
									</span>
									<input type='text' class="form-control" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group input-group-sm">
									<input type='text' class="form-control" />
									<span class="input-group-btn">
										<a href="#" class="btn btn-inverse">Go!</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Input grid</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<div class="row">
							<div class="col-md-12">
								<input type="text" class="form-control" value="col-*-12" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6"><input type="text" class="form-control" value="col-*-6" /></div>
							<div class="col-md-6"><input type="text" class="form-control" value="col-*-6" /></div>
						</div>
						<div class="row">
							<div class="col-md-4"><input type="text" class="form-control" value="col-*-4" /></div>
							<div class="col-md-4"><input type="text" class="form-control" value="col-*-4" /></div>
							<div class="col-md-4"><input type="text" class="form-control" value="col-*-4" /></div>
						</div>
						<div class="row">
							<div class="col-md-3"><input type="text" class="form-control" value="col-*-3" /></div>
							<div class="col-md-9"><input type="text" class="form-control" value="col-*-9" /></div>
						</div>
						<div class="row">
							<div class="col-md-4"><input type="text" class="form-control" value="col-*-4" /></div>
							<div class="col-md-3"><input type="text" class="form-control" value="col-*-3" /></div>
							<div class="col-md-5"><input type="text" class="form-control" value="col-*-5" /></div>
						</div>
						<div class="row">
							<div class="col-md-3"><input type="text" class="form-control" value="col-*-3" /></div>
							<div class="col-md-3"><input type="text" class="form-control" value="col-*-3" /></div>
							<div class="col-md-3"><input type="text" class="form-control" value="col-*-3" /></div>
							<div class="col-md-3"><input type="text" class="form-control" value="col-*-3" /></div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-3 col-md-3 col-lg-2 control-label">Normal textarea</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
						<textarea rows="5" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary btn-sm">Save</button> or <a class="text-danger" href="#">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
    